<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a class="" href="/">Home</a>
      </li>
      <li class="main-header__item">
        <a class="" href="">Cart</a>
      </li>
      <li class="main-header__item">
        <a class="" href="">Order</a>
      </li>
      <li class="main-header__item">
        <a class="" href="">My Products</a>
      </li>
      <li class="main-header__item">
        <a class="" href="/products/add-product">Add Product</a>
      </li>
    </ul>
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a class="" href="/auth/signin">Login</a>
      </li>
      <li class="main-header__item"> 
        <a class="" href="/auth/signup">Register</a>
      </li>
      <li class="main-header__item">
        <a class="" href="">Logout</a>
      </li>
    </ul>
  </nav>
</header>