.auth-page{ 
  width : 90%;    
  margin : 2rem auto ;
  text-align: center;
  .auth-router{   
    line-height: 1.7;
  }
  .alert{
    margin : 1rem auto;
  }
  .error{    
    color : red;
  }
  .success{
    color : green
  }
}

@media (min-width : 600px){
  .auth-page{
    width : 60%;
  }
}

@media (min-width : 900px){
  .auth-page{
    width : 36vw;
    width : 500;
  }
}