<%- include("../includes/header") %>
  <link rel="stylesheet" href="/css/home-page.min.css">
  <link rel="stylesheet" href="/css/products.styles.min.css">
</head>
<body>
  <%- include("../includes/navigation") %>
  <main class="home-page">
    <div class="products">     
      <div class="product-item">
        <div class="background">
          <div class="background-image" ></div>
        </div>
       
        <div class="content">
          <div class="main-content">
            <div class="title">Book</div>
            <div class="price">$19</div>  
          </div>                  
          <div class="sub-content">
            <div class="describe">A Science Book</div>
          </div>
        </div>          

        <div class="buttons">
          <button class="button">Add to cart</button>
        </div>
      </div>
      <div class="product-item">
        <div class="background">
          <div class="background-image" ></div>
        </div>
       
        <div class="content">
          <div class="main-content">
            <div class="title">Book</div>
            <div class="price">$19</div>  
          </div>                  
          <div class="sub-content">
            <div class="describe">A Science Book</div>
          </div>
        </div>          

        <div class="buttons">
          <button class="button">Add to cart</button>
        </div>
      </div>
      <div class="product-item">
        <div class="background">
          <div class="background-image" ></div>
        </div>
       
        <div class="content">
          <div class="main-content">
            <div class="title">Book</div>
            <div class="price">$19</div>  
          </div>                  
          <div class="sub-content">
            <div class="describe">A Science Book</div>
          </div>
        </div>          

        <div class="buttons">
          <button class="button">Add to cart</button>
        </div>
      </div>
      <div class="product-item">
        <div class="background">
          <div class="background-image" ></div>
        </div>
       
        <div class="content">
          <div class="main-content">
            <div class="title">Book</div>
            <div class="price">$19</div>  
          </div>                  
          <div class="sub-content">
            <div class="describe">A Science Book</div>
          </div>
        </div>          

        <div class="buttons">
          <button class="button">Add to cart</button>
        </div>
      </div>
      <div class="product-item">
        <div class="background">
          <div class="background-image" ></div>
        </div>
       
        <div class="content">
          <div class="main-content">
            <div class="title">Book</div>
            <div class="price">$19</div>  
          </div>                  
          <div class="sub-content">
            <div class="describe">A Science Book</div>
          </div>
        </div>          

        <div class="buttons">
          <button class="button">Add to cart</button>
        </div>
      </div>
      <div class="product-item">
        <div class="background">
          <div class="background-image" ></div>
        </div>
       
        <div class="content">
          <div class="main-content">
            <div class="title">Book</div>
            <div class="price">$19</div>  
          </div>                  
          <div class="sub-content">
            <div class="describe">A Science Book</div>
          </div>
        </div>          

        <div class="buttons">
          <button class="button">Add to cart</button>
        </div>
      </div>
      <div class="product-item">
        <div class="background">
          <div class="background-image" ></div>
        </div>
       
        <div class="content">
          <div class="main-content">
            <div class="title">Book</div>
            <div class="price">$19</div>  
          </div>                  
          <div class="sub-content">
            <div class="describe">A Science Book</div>
          </div>
        </div>          

        <div class="buttons">
          <button class="button">Add to cart</button>
        </div>
      </div>
      
    </div>
  </main>
<%- include("../includes/footer") %>

