@mixin shrinkLabel{
  top : -13px !important; 
  left:  0 !important; 
  font-size : .9em;  
  color : blue;
  z-index: 1;
}

.form-title{
  text-align: center;
  margin-top : 1rem ;
}
.form-group{
  position : relative;
  margin : 2.5rem 0;
  .form-input{
    display : block;
    width : 90%; 
    outline : none ;
    border : none ; 
    border-bottom : 1px solid grey;
    padding : .3rem .7rem;
    font-size : 1.2em;
    color : rgb(70, 70, 70);
    &:focus{
      border-bottom : 1px solid black;        
    }    
    &:focus ~.form-input-label{             
      @include shrinkLabel();
    }  
    
  }
 
  input[type="password"]{
    letter-spacing: .2em;
  }
  input[type="file"]{
    border : 1px solid grey;
    border-radius: 6px;
  }
  .form-input-label{
    color :rgb(120, 120, 120);
    position: absolute;
    top : 12px ; 
    left : 14px;
    transition : .3s ease-out;    
    &.shrinkLabel{
      @include shrinkLabel();
    }
  }  

}

@media (min-width : 600px){  
  .form-input{
    width : 450px;
  }
}
@media (min-width : 900px){  
  .form-input{
    width : 550px;
  }
}